/* Styling af siden */
body
{
    color: darkslategrey;
    background-color: gainsboro;
}
h1
{
    color: midnightblue;
}
h2
{
    color: steelblue;
}

h1, h2
{
    background-color: azure; 
}

/*Styling af navigation*/
header, footer
{
    background-color: tomato;
    height: 50px;
}

header a, footer a
{
    color:gainsboro;
    text-decoration: none;
}